{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Product Review</h1>

    <div class="form">
        <form action="/review" method="GET">
            <button type="submit">Product Review</button>
        </form>
        <form action="/price" method="GET">
            <button type="submit">Product Prices</button>
        </form>
    </div>
</div>
{% endblock %}